<ul>

    <li><button type="button" class="btn btn-primary">id - {{id}}</button></li><br>
    <li><button type="button" class="btn btn-primary">name - {{name}}</button></li><br>
    <li><button type="button" class="btn btn-primary">gender - {{gender}}</button></li><br>
    <li><button type="button" class="btn btn-primary">age - {{age}}</button></li>

</ul>