<ul>

    <li>
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            id - {{id}}
        </div>
    </li><br>
    <li>
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            name - {{name}}
        </div>
    </li><br>
    <li>
        <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            description - {{description}}
        </div>
    </li>

</ul>